@page
@model src.Pages.Create.Index

@{
    var role_list = (List<string>)ViewData["roles_message"];
}
<div class="login-page">
    <div class="lead">
        <h1>Create Account</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <form asp-route="Create">
                <input type="hidden" asp-for="Input.ReturnUrl" />
                <input type="hidden" asp-for="Input.RoleName" value="Customer" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input type="email" class="form-control" placeholder="Email" asp-for="Input.Email" >
                </div>
                
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                </div>
            
                <button class="btn btn-primary" name="Input.Button" value="create">Create</button>
                <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
            </form>
            <br />
            <a asp-page="../Login/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">If you've already have account --> Login</a>
        </div>
    </div>
</div>